input{
	border: 3px solid black;
	padding: 3px;
	font-size: 15px;
	}
body{
	background-color: #2ad191; 
	padding-left: 10px;
}

div{
	padding: 10px;
	margin-bottom: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	border-radius: 15px;
	
}

img{
	margin: 5px;
	padding: 5px;
	max-height: 400px;
	width: 15%;	
	border-width: 2px;
	border-style: solid;
}

h1{
	text-align: center;
	font-family: arial;
	font-size: 40px;
}
h2{
	font-family: times roman;
	font-style: italic;
	font-size: 25px;
}

#p1{
	background-color: #eff24b; 
}
#p2{
	background-color: #209ffa;
}
#p3{
	background-color: #f7b239;	
}
#p4{
	background-color: #d6f752;
}

h3{
	padding-left: 10px;
	font-family: Courier;
}

div h3:hover{
	background-color: white;
}